

<div class="row relative">
	<div class="col-12">
		<%= image_tag "top-bg-meal.jpg", class: "top-meal-bg" %>
	</div>

	<h2 class="top-bg-copy">
		『腹減った、、、』<br>
		『今日はウチでごはん食べたい気分、、、』<br>
		『ささっと出来て、おいしいごはんが食べたい、、、』<br>
	</h2>

	<h2 class="top-bg-copy-2">
		そんなあなたにウチでできる簡単レシピ、harahetterなら探せます
	</h2>
	<p class="top-bg-copy-3">harahetterは料理初心者でもウチで簡単にできるレシピが見つかります</p>
</div>
