// Place all the styles related to the recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/* =====================
     recipes / new
===================== */

#recipes-new {

    .recipes-new-title {
        font-weight: bold;
        text-align: center;
        margin-bottom: 30px;
    }

    label {
        color: #00214d;
	    font-weight: bold;
    }

    div.form-group {
        margin-bottom: 30px;
    }

    input#recipe_recipe_images_images.form-control {
        border: solid 3px #00214d;
    }

    input#recipe_title.form-control {
        border: solid 3px #00214d;
    }

    textarea#recipe_body.form-control {
        border: solid 3px #00214d;
    }

    input.btn.btn-success.btn-block {
		border: solid 3px #00214d;
		border-radius: 50px;
		background-color: #00ebc7;
		color: #00214d;
		font-weight: bold;
		margin-top: 30px;
		margin-bottom: 30px;
	}
}

/* =====================
    recipes / show
===================== */

#recipes-show {

	div.card-body {
	    border: solid 3px #00214d;
	    border-radius: 3px;
	}

	.card-text {
	    border-bottom: dashed 3px #00214d;
	}

	img.attachment.recipe_image.image.img-fluid.mx-auto {
	    border: solid 3px #00214d;
	    border-radius: 3px;
	    margin-bottom: 20px;
	}

    a.btn.btn-success {
        border: solid 3px #00214d;
        border-radius: 50px;
        background-color: #fde24f;
        color: #00214d;
        font-weight: bold;
        margin-top: 15px;
        margin-bottom: 15px;
        transition: .3s;
    }

    a.btn.btn-success:hover {
        transform: translateY(-4px);
    }

    a.btn.btn-danger {
        border: solid 3px #00214d;
        border-radius: 50px;
        background-color: #fa5246;
        color: #00214d;
        font-weight: bold;
        margin-top: 15px;
        margin-bottom: 15px;
        transition: .3s;
    }

    a.btn.btn-danger:hover {
        transform: translateY(-4px);
    }

    h2.recipes-show-review-title {
        font-weight: bold;
        text-align: center;
        margin-bottom: 30px;
    }

    div.rating-box .rating .fa {
        font-size: 30px;
        color: #ffcc00;
        cursor: pointer;
    }

    div.main-rating {
        display: flex;
        font-size: 30px;
        color: #ffcc00;
        cursor: pointer;
    }

    .rating-value {
        font-size: 20px;
    }

    h2.recipes-show-comments-title {
        font-weight: bold;
        text-align: center;
    }

    textarea#comment_content.form-control {
        border: solid 3px #00214d;
        margin-bottom: 30px;
    }

    input.btn.btn-success.btn-block {
        border: solid 3px #00214d;
        border-radius: 50px;
        background-color: #00ebc7;
        color: #00214d;
        font-weight: bold;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    h2.recipes-show-comments-catalog {
        font-weight: bold;
        text-align: center;
    }

    h5.card-header {
        border: solid 3px #00214d;
    }
}


/* =====================
    recipes / edit
===================== */

#recipes-edit {

    h2.recipes-edit-title {
        color: #00214d;
        font-weight: bold;
        text-align: center;
        margin-bottom: 30px;
    }

    label {
        color: #00214d;
        font-weight: bold;
    }

    input#recipe_recipe_images_images.form-control {
        border: solid 3px #00214d;
    }

    input#recipe_title.form-control {
        border: solid 3px #00214d;
    }

    textarea#recipe_body.form-control {
        border: solid 3px #00214d;
    }

    div.form-group {
        margin-bottom: 30px;
    }

    input.btn.btn-success.btn-block {
		border: solid 3px #00214d;
		border-radius: 50px;
		background-color: #00ebc7;
		color: #00214d;
		font-weight: bold;
		margin-top: 30px;
		margin-bottom: 30px;
	}
}

/* =====================
    recipes / index
===================== */

#recipes-index {

        h2.recipes-index-title {
            font-weight: bold;
            text-align: center;
            margin-bottom: 30px;
        }

        .index-body {
            font-weight: bold;
        }

        .index-body a {
            color: #00214d;
            text-decoration: none;
        }

        .index-body a:hover {
            text-decoration: underline;
        }

        tr {
            text-align: center;
            border-top: solid 2px #00214d;
            border-bottom: solid 2px #00214d;
        }

        td.recipe-title {
            color: #00214d;
            line-height: 100px;
        }

        td.recipe-title a {
            color: #00214d;
        }

        td.recipe-username {
            line-height: 100px;
        }

        td.recipe-username a {
            color: #00214d;
        }

        img.attachment.recipe_image.image {
            border: solid 3px #00214d;
            border-radius: 3px;
        }

        td.recipes-index-favorites {
            line-height: 100px;
        }

        td.recipes-index-favorites a {
            color: #ff5470;
        }
}

/* =====================
    recipes / create
===================== */

#recipes-create {

        h2.recipes-new-title {
            font-weight: bold;
            text-align: center;
            margin-bottom: 30px;
        }

        label {
            color: #00214d;
            font-weight: bold;
        }

        div.form-group {
            margin-bottom: 30px;
        }

        input#recipe_recipe_images_images.form-control {
            border: solid 3px #00214d;
        }

        input#recipe_title.form-control {
            border: solid 3px #00214d;
        }

        textarea#recipe_body.form-control {
            border: solid 3px #00214d;
        }

        input.btn.btn-success.btn-block {
            border: solid 3px #00214d;
            border-radius: 50px;
            background-color: #00ebc7;
            color: #00214d;
            font-weight: bold;
            margin-top: 30px;
            margin-bottom: 30px;
        }
}




