// Place all the styles related to the recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/* =====================
     recipes / new
===================== */

#recipes-new {

    .recipes-new-title {
        font-weight: bold;
        text-align: center;
        margin-bottom: 30px;
    }

    label {
        color: #00214d;
	    font-weight: bold;
    }

    div.form-group {
        margin-bottom: 30px;
    }

    input#title.form-control {
        border: solid 2px #00214d;
    }

    textarea#body.form-control {
        border: solid 2px #00214d;
    }

    input.btn.btn-success.btn-block {
		border: solid 2px #00214d;
		border-radius: 50px;
		background-color: #00ebc7;
		color: #00214d;
		font-weight: bold;
		margin-top: 30px;
		margin-bottom: 30px;
	}
}
