/* =====================
    sessions / new
===================== */

#sessions-new {

	h2 {
	    color: #00214d;
        font-weight: bold;
        text-align: center;
	}

	label {
	    color: #00214d;
	    font-weight: bold;
	}

	input#user_email.form-control {
	    margin-bottom: 20px;
	    border: solid 1px #00214d;
	    border-radius: 50px;
	}

	input#user_password.form-control {
	    margin-bottom: 20px;
	    border: solid 1px #00214d;
	    border-radius: 50px;
	}

	em {
	    color: #00214d;
	    font-weight: bold;
	}

	input#user_password_confirmation.form-control {
	    margin-bottom: 45px;
	    border: solid 1px #00214d;

	}

	input.btn.btn-primary.btn-block {
        background: #00ebc7;
	    border: solid 2px #00214d;
	    border-radius: 50px;
	    color: #00214d;
	    font-weight: bold;
	    margin-top: 30px;
	}

	nav.navbar.navbar-expand-lg.navbar-light {
        background-color: #fef6e4;
    }

    .nav-link {
        color: #00214d;
    }

	.nav-item {
		display: inline-block;
	    padding: 0.5em 1em;
	    text-decoration: none;
	    background: #00ebc7;
	    color: #00214d;
	    border-radius: 4px;
	    box-shadow: 0px 0px 0px 5px #00ebc7;
	    border: dashed 2px #00214d;
	    margin-right: 18px;
	    font-weight: bold;
	}

	.nav-item:hover {
	    border: dotted 3px #00214d;
	}
}