// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/* =====================
     users / index
===================== */


#users-index {

    .index-users-title {
       font-weight: bold;
       text-align: center;
       margin-bottom: 30px;
    }

    .card {
       border: solid 2px #00214d;
       margin-bottom: 22px;
    }

    img.attachment.user.profile_image.img-fluid.fallback {
       border: solid 2px #00214d;
       border-radius: 5px;
    }

	.index-user-name {
	   border-bottom: dashed 2px #00214d;
	   font-size: 20px;
	   font-weight: bold;
	   text-align: center;
	}

	.index-user-name a {
	   color: #00214d;
	   text-decoration: none;
	}

	.index-user-name a:hover {
	   text-decoration: none;
	}
}


/* =====================
      users / show
===================== */

#users-show {

    .users-show-title {
       position: relative;
    }

    .users-show-title h1 {
       position: absolute;
	   color: white;
	   top: 50%;
	   left: 55%;
	   font-weight: bold;
	   padding: 0.5em 1.5em;
    }

    img.attachment.user.profile_bg_image.img-fluid.fallback {
       width: 100%;
       height: 300px;
       opacity: 0.7;
    }

    img.attachment.user.profile_bg_image.img-fluid.fallback:hover {
       filter: brightness(60%);
       box-shadow: 0 15px 30px -5px rgba(0,0,0,.15), 0 0 5px rgba(0,0,0,.1);
	   transform: translateY(-4px);
    }

    .users-show-bg-image img {
       opacity: 0.7;
       transition: all .3s;
    }

    .users-show-bg-image:hover {
       filter: brightness(60%);
       transform: translateY(-3px);
    }

    .card {
       border: solid 2px #00214d;
       margin-bottom: 30px;
    }

    img.attachment.user.profile_image.img-fluid.fallback {
       border: solid 2px #00214d;
       border-radius: 5px;
    }

	h5.card-title {
	   border-bottom: dashed 2px #00214d;
	   color: #00214d;
	   font-weight: bold;
	   text-align: center;
	}

	.card-content {
	   text-align: center;
	   border-bottom: dashed 2px #00214d;
	}

	.card-content-1 {
	   text-align: center;
	   border-bottom: dashed 2px #00214d;
	   font-weight: bold;
	}

	div.show-btn {
	   text-align: center;
	}

	a.btn.btn-primary {
	   box-shadow: 0 0 8px gray;
	   transition: .3s;
	}

	a.btn.btn-primary:hover {
	   box-shadow: 0 0 8px gray;
	   transform: translateY(-4px);
	}
}

 /* =====================
      users / edit
===================== */

#users-edit {
	h2 {
	  color: #00214d;
	  font-weight: bold;
	  text-align: center;
	  margin-bottom: 30px;
	}

	label {
	  color: #00214d;
	  font-weight: bold;
	}

	div.form-group {
	  margin-bottom: 20px;
	}

	input#user_profile_image.form-control {
	  border: solid 2px #00214d;
	}

	input#user_name.form-control {
	  border: solid 2px #00214d;
	}

	input#user_email.form-control {
	  border: solid 2px #00214d;
	}

	textarea#user_profile.form-control {
	  border: solid 2px #00214d;
	}

	input.btn.btn-success.btn-block {
	  border: solid 2px #00214d;
	  border-radius: 50px;
	  background-color: #00ebc7;
	  color: #00214d;
	  font-weight: bold;
	  margin-top: 30px;
	}
}






